/* Reset de margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--white);
    background-color: var(--dark-green);
    overflow: hidden;
}

header {
    background-color: var(--dark-green);
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo img {
    width: 100%;
    max-width: 80px;
    height: auto;
    transition: all 0.3s ease;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a, .nav-links button {
    color: var(--white);
    text-decoration: none;
    margin-left: 20px;
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
    transition: color 0.3s;
}

.nav-links a:hover, .nav-links button:hover {
    color: var(--light-green);
}

.nav-links button img {
    height: 20px;
}

/* Estilo da seção hero de recuperação de senha */
.forgot-password-hero {
    background: url('../images/background.png') no-repeat center center/cover;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    animation: moveBackground 30s linear infinite;
}

@keyframes moveBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.forgot-password-content {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
    text-align: left;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

label {
    font-size: 1rem;
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    color: var(--white);
    background-color: var(--primary-green);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    width: 100%;
    text-align: center;
    border: none;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: var(--light-green);
    transform: scale(1.05);
}

p {
    margin-top: 20px;
    text-align: center;
}

p a {
    color: var(--light-green);
}